.App {
  height: 100vh;
  width: 100vw;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SectionTeams {
  overflow: hidden;
  height: 88vh;
  width: 100vw;
}
.TeamsContainer {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Team {
  width: 90%;
  height: 45%;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-style: dotted;
}

.TeamTop {
  height: 10%;
}
.Title {
  padding: 2rem;
  font-size: 1.5rem;
}
.TeamBody {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Players {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SkillContainer {
  border-style: double;
  display: flex;
  height: 85%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
}

.SkillBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SkillName {
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 1rem;
}

.SkillValue {
  font-size: 1.4rem;
  line-height: 3rem;
}
.Overall {
  display: flex;
  line-height: 2.5rem;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1370px) {
  .Team {
    margin: 0.3rem;
  }

  .SkillBox {
    height: 85%;
  }
  .SkillName {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 1rem;
  }

  .SkillValue {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 1rem;
  }

  .Overall {
    display: flex;
    line-height: 1.8rem;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
