.Button {
  height: 4rem;
  width: 12rem;
  background-color: var(--clr-secondary-dark);
  font-family: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 1370px) {
  .Button {
    height: 3rem;
    width: 10rem;
  }
}
