.PlayerBox {
  padding-top: 9%;
  padding-bottom: 5%;
}

.PlayerPhoto {
  height: 13.5rem;
  width: auto;
  cursor: pointer;
}
.PlayerPhoto:hover {
  border: 5px solid orangered;
  opacity: 50%;
}

.PlayerPhoto:visited {
  opacity: 0.6;
  filter: alpha(opacity = 60);
}

.PlayerName {
  margin-top: 2rem;
  text-align: center;
  align-content: center;
}

.Fade {
  filter: grayscale(100%);
  border: 5px solid white;
}

@media only screen and (max-width: 1370px) {
  .PlayerPhoto {
    height: 10.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .PlayerPhoto {
    height: 9rem;
  }
}
