.ModalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 40vw;
  background: #555;
}

.DisplayNone {
  display: none;
}

.Top {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.Title {
  font-size: 2rem;
}

.Body {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Content {
  height: 60%;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 3rem;
}

.Options {
  height: 30%;
  width: 100%;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Select {
  display: flex;
  width: 70%;
  height: 100%;
}

.BackNext {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: space-between;
}

.Label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.BlinkAnimation {
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1370px) {
  .ModalWindow {
    height: 55vh;
    width: 45vw;
  }
}

@media only screen and (max-width: 450px) {
  .ModalWindow {
    height: 45vh;
    width: 70vw;
  }

  .Top {
    height: 15%;
  }

  .Title {
    font-size: 1.3rem;
  }

  .Body {
    height: 85%;
  }

  .Content {
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding: 3rem;
  }

  .Options {
    font-size: 1.2rem;
  }

  .Select {
    display: flex;
    width: 100%;
  }

  .BackNext {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
  }

  .Label {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}
