/* ANCHOR -----------------HEADER---------------------------- */

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 12vh;
  width: 100%;
  overflow: hidden;
  border-bottom: 7px solid var(--clr-secondary-dark);
  background: var(--clr-primary-dark);
}
.Title {
  margin: auto;
}

.SoundLogo {
  width: 80px;
  cursor: pointer;
}

/* ANCHOR -----------------SELECTPLAYERS---------------------------- */

.SectionSelectPlayers {
  display: flex;
  height: 48vh;
  max-width: 100vw;
  overflow: hidden;
  border-bottom: 7px solid var(--clr-secondary-dark);
}
.SelectPlayersArea {
  width: 80vw;
  height: 100%;
  margin: 0 7% 0 7%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.PlayerCardArea {
  width: 20vw;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: right;
}

.PlayersContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.Loading {
  width: 100%;
  height: 100%;
}
/* ANCHOR ----------------PICKEDPLAYERS----------------------------- */

.SectionPickedPlayers {
  display: flex;
  min-height: 38vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-dark);
}

.PickedPlayerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.PickedPlayerTop {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NumberOfPlayers {
  font-size: 1.5rem;
  padding: 2rem 0 2rem 0;
  color: var(--clr-accent);
}

.PickedPlayerBody {
  width: 100%;
  max-width: 70%;
  padding-bottom: 1rem;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PickedPlayerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.PickedPlayerName {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1370px) {
  .Header {
    height: 8.5vh;
    width: 100%;
  }
  .Title {
    font-size: 1.4rem;
  }
  .SoundLogo {
    width: 6rem;
  }
  .PlayersContainer {
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
  }
  .PickedPlayerTop {
    width: 100%;
    height: 5%;
  }
  .NumberOfPlayers {
    padding: 1rem 0 0 0;
    font-size: 1.3rem;
  }

  .PickedPlayerBody {
    width: 100%;
    max-width: 60%;
    padding-bottom: 1rem;
  }
  .PickedPlayerBottom {
    width: 100%;
  }
}
/* 
@media only screen and (max-width: 500px) {
  .Header {
    height: 10vh;
    width: 100%;
  }
  .Title {
    font-size: 1.1rem;
    padding: 1rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .SoundLogo {
    width: 5rem;
  }
  .SectionSelectPlayers {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }
  .SelectPlayersArea {
    width: 100vw;
    height: 55%;
  }
  .PlayerCardArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
  }
  .PlayersContainer {
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 100%;
  }
  .PickedPlayerTop {
    width: 100%;
    height: 5%;
  }
  .NumberOfPlayers {
    padding: 1rem 0 0 0;
    font-size: 1.3rem;
  }
  .SectionPickedPlayers {
    display: flex;
    min-height: 35vh;
  }

  .PickedPlayerTop {
    height: 10%;
    width: 100%;
  }
  .NumberOfPlayers {
    font-size: 1rem;
    padding: 1rem;
  }

  .PickedPlayerBody {
    width: 100%;
    height: 100%;
    max-width: 80%;
    padding-bottom: 1rem;
  }

  .PickedPlayerBottom {
    width: 100%;
    height: 20%;
  }
} */
