.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 12vh;
  width: 100%;
  border-bottom: 7px solid #eee;
}
.SoundLogo {
  width: 80px;
  cursor: pointer;
}

/* ANCHOR --------------------------------------------- */

.SectionSelectPlayers {
  display: flex;
  height: 45vh;
  width: 100vw;
  overflow: hidden;
  border-bottom: 7px solid #eee;
}
.SelectPlayersArea {
  width: 80vw;
  height: 100%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.PlayerCardArea {
  width: 20vw;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: right;
}

.PlayersContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
}
/* ANCHOR --------------------------------------------- */

.SectionPickedPlayers {
  display: flex;
  height: 43vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PickedPlayerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PickedPlayerTop {
  height: 10%;
  width: 100%;
  text-align: center;
}
.NumberOfPlayers {
  font-size: 1.5rem;
}

.PickedPlayerBody {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.PickedPlayerBottom {
  height: 20%;
  width: 100%;
  text-align: center;
}

.PickedPlayerName {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1370px) {
  .PlayersContainer {
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
  }
}
