@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
}

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 13vh;
  border-bottom: 7px solid #eee;
}

.Title {
  margin: auto;
}

.SoundLogo {
  width: 80px;
}

.SelectPlayers {
  display: flex;
  height: 55vh;
  border-bottom: 7px solid #eee;
}

.PlayersContainer {
  display: grid;
  margin-left: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  width: 50vw;
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
}

.PickedPlayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PickedPlayersContainer {
  display: flex;
  justify-content: center;
}

/* ANCHOR Creating Customized Radio Button */
label input {
  opacity: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label > span {
  margin-right: 1.5rem;
  display: none;
}

#two:checked + span {
  display: inline-block;
}

#three:checked + span {
  display: inline-block;
}
