.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div > h1 {
  margin: 3rem;
  color: var(--clr-accent);
}

h3 {
  margin: 2rem;
}
